node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vercel

to-do.txt

# WIP Blog Posts
/src/routes/blog/wip
/src/.history

# .history
.history/

# .vscode
.vscode/