:root {
    --color-text: #dfdfdf;
    --color-heading: #E0E0E0;
    --color-subheading: var(--color-hover);

    --color-hover: #7F7F7F;
    --color-outlines: var(--color-hover);

    --color-links: #FFFFFF;
    --color-emph: var(--color-links);

    --color-nav-links: var(--color-links);
    --color-nav-hover: var(--color-hover);
    --color-darkMode-icon: var(--color-hover);

    --color-bg: #1C1C1C;
    --color-container-bg: #232428;
    --color-container-bg-2: #7F7F7F3a;

    color: var(--color-text);
    background: var(--color-bg);
}

* {
    margin: 0;
    padding: 0;
    transition: 0.7s ease;
}