.landing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5%;
}

/* Information */
.landing-left {
    /* position: sticky; */
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 0 0 auto;
    width: 33%;
}

.landing-left h1 {
    font-size: 3.5rem;
    color: var(--color-heading);
    line-height: 1.1;
}

.landing-left h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-subheading);
}

/* To-Do: Responsiveness to width of viewport */

/* Profile Picture */
.landing-photo {
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

/* Socials Icons */
.landing-socials {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.social-link {
    color: var(--color-subheading);
    font-size: 2.25rem;
}

.social-link:hover {
    color: var(--color-links);
}

/* Description */
.landing-right {
    flex: 1;
    padding-top: 0.25rem;
}